<div class="jumbotron">
  <center>
    <h1>Welcome to Launchpad's Pizza</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/9/92/046_pizza%2C_sanok%2C_szwejk_2012.JPG" alt="launchpad's pizza">
    <br>
    <%= link_to "Check out our Pizzas", pizzas_path, class: "btn btn-default" %>
  </center>  
</div>